:root {
  --main-origin: #ee7419;
  --main-bgc: #efefef;
  --main-select: #fdf1e6;
  --main-white: #ffffff;
  --main-gray: #f7f7f7;
}
main {
  max-width: 600px;
  min-width: 200px;
  width: 30vw;
  margin: 0 auto;
  background-color: var(--main-bgc);
}
.time_digit {
  height: 45px;
  padding: 0 20px;
  background-color: var(--main-white);
  line-height: 45px;
  position: relative;
}
.time_digit .position_p {
  position: absolute;
  left: -110px;
}
section {
  height: 30vw;
  margin-top: 20px;
}
.month_year {
  position: relative;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: white;
  background-color: var(--main-origin);
}
.month_year::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: var(--main-origin);
  top: -14px;
}
.month_year p {
  position: relative;
}
.month_year p::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-right-color: var(--main-white);
  top: 18px;
  left: 15px;
}
.month_year p::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left-color: var(--main-white);
  top: 18px;
  right: 15px;
}
table {
  width: 100%;
}
.thead_time {
  width: 100%;
  background-color: var(--main-origin);
}
.thead_time .th {
  height: 30px;
  width: 4.28571429vw;
  line-height: 30px;
  font-weight: normal;
  color: var(--main-white);
}
.calWeekendDay {
  border: var(--main-gray) solid 1px;
  height: 45px;
  background-color: white;
  line-height: 45px;
  text-align: center;
  font-size: 19px;
  color: var(--main-bgc);
}
