@firstDivHeight: 45px;
@tdDivSize: (30vw / 7);

:root {
    --main-origin: rgb(238, 116, 25);
    --main-bgc: rgb(239, 239, 239);
    --main-select: rgb(253, 241, 230);
    --main-white: rgb(255, 255, 255);
    --main-gray: rgb(247, 247, 247);
}
main {
    max-width: 600px;
    min-width: 200px;
    width: 30vw;
    margin: 0 auto;
    background-color: var(--main-bgc);
}

.time_digit {
    height: @firstDivHeight;
    padding: 0 20px;
    background-color: var(--main-white);
    line-height: @firstDivHeight;
    position: relative;

    .position_p {
        position: absolute;
        left: -110px;
        
    }
}

section {
    height: 30vw;
    margin-top: 20px;
}

.month_year {
    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-bottom-color: var(--main-origin);
        top: -14px;
    }

    position: relative;
    height: @firstDivHeight;
    line-height: @firstDivHeight;
    text-align: center;
    color: white;
    background-color: var(--main-origin);

    p {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: 7px solid transparent;
            border-right-color: var(--main-white);
            top: 18px;
            left: 15px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: 7px solid transparent;
            border-left-color: var(--main-white);
            top: 18px;
            right: 15px;
        }
    }
}

table {
    width: 100%;
}

.thead_time {
    width: 100%;
    background-color: var(--main-origin);

    .th {
        height: 30px;
        width: @tdDivSize;
        line-height: 30px;
        font-weight: normal;
        color: var(--main-white);
    }

}

.calWeekendDay {
    border: var(--main-gray) solid 1px;
    height: 45px;
    background-color: white;
    line-height: 45px;
    text-align: center;
    font-size: 19px;
    color: var(--main-bgc);

}