* {
  padding: 0;
  margin: 0;
  list-style: none;
}
:root {
  --main-origin: #ee7419;
  --main-bgc: #efefef;
  --main-select: #fdf1e6;
  --main-white: #ffffff;
  --main-gray: #f7f7f7;
}
body {
  box-sizing: border-box;
  background-color: var(--main-bgc);
}
.nav {
  height: 35px;
  background-color: var(--main-origin);
  color: var(--main-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}
.nav .spacer {
  width: 5%;
}
main {
  max-width: 900px;
  min-width: 600px;
  width: 70vw;
  margin: 0 auto;
  padding: 25px;
  background-color: var(--main-white);
}
.box_style {
  border: 1px solid #d0d2d3;
}
.bottom:hover {
  cursor: pointer;
  background-color: #fef1e8;
}
