.one {
    width: 400px;
    height: 200px;
    background-color: var(--main-white);  
    margin: 200px auto;
    border-radius: 5px;
    position: relative;
    font-weight: 100;
}

.tip{
    width: 100%;
    height: 20%;
    background-color: var(--main-gray);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

b {
    position: absolute;
    top: 10px;
    left: 20px;
}

.cha {
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 7px;
    color: rgb(143, 143, 143);
}

.one span{
    position: absolute;
    left: 20px;
    top: 60px;
}

.yes{
    width: 5rem;
    height: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
    background-color: var(--main-origin);
    position: absolute;
    bottom: 20px;
    left: 105px;
    cursor: pointer;
}

.no{
    width: 5rem;
    height: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 105px;
}

.zhe{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.65);
    z-index: 999;
}

.deleteQuestion {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 9999;
}