header {
  margin: 0 20px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
header h1 {
  font-size: 20px;
  font-weight: 600;
}
.hr {
  padding-top: 25px;
  border-bottom: 2px solid #cccccc;
}
.choose {
  margin: 25px 20px 0;
  border: 1px solid #cccccc;
  text-align: center;
}
.choose .choose_buttom {
  margin: 19px 0;
  display: flex;
  justify-content: center;
}
.choose .choose_buttom div {
  margin: 0 19px;
  width: 10.73%;
  height: 35px;
  line-height: 35px;
  background-color: #efefef;
  cursor: pointer;
}
.choose .add_buttom {
  width: 100%;
  height: 67px;
  line-height: 67px;
  background-color: #efefef;
  cursor: pointer;
}
.last {
  width: 100%;
  height: 30px;
  margin: 30px 0;
}
.last div:nth-child(2) {
  margin: 10px 10% 0 0;
  width: 11%;
  height: 30px;
  background-color: #ee7419;
  color: white;
  line-height: 30px;
  text-align: center;
  float: right;
}
.last div:nth-child(3) {
  margin: 10px 3% 0 0;
  width: 11%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: right;
}
.last .ddl:hover {
  cursor: pointer;
  background-color: --main-select;
}
.time_digit {
  width: 16vw;
  height: 45px;
  margin-left: 20%;
  line-height: 45px;
  background-color: white;
  float: left;
  position: relative;
}
.time_digit P {
  margin-left: 1.5rem;
}
.time_digit .position_p {
  position: absolute;
  left: -9.5rem;
}
.select {
  margin: 5px 20px 0 6%;
  position: relative;
}
.number {
  width: 6%;
  height: 30px;
  line-height: 30px;
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  left: -6%;
}
.headContext {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.headContext .context {
  font-size: 1.2rem;
  font-weight: 600;
  float: left;
}
.headContext .must_choose {
  font-size: 0.9rem;
  font-weight: normal;
  float: right;
}
.aLineContext {
  height: 30px;
  line-height: 30px;
  font-size: 0.9rem;
}
textarea {
  width: 100%;
  height: 8rem;
  font-size: 0.9rem;
  resize: none;
  outline: none;
}
.funtionMenu ul {
  height: 20px;
  line-height: 20px;
  font-size: 0.7rem;
}
.funtionMenu ul li {
  text-align: center;
  width: 5.5%;
  float: right;
}
.funtionMenu ul li:hover {
  background-color: #ee7419;
  cursor: pointer;
}
