:root {
    --main-origin: rgb(238, 116, 25);
    --main-bgc: rgb(239, 239, 239);
    --main-select: rgb(253, 241, 230);
    --main-white: rgb(255, 255, 255);
    --main-gray: rgb(247, 247, 247);
}

body {
    background-color: rgb(143, 143, 143);
}

.one {
    width: 450px;
    height: 200px;
    background-color: var(--main-white);
    margin: 200px auto;
    border-radius: 5px;
    position: relative;
    font-weight: 100;
}

.tip{
    width: 100%;
    height: 20%;
    background-color: var(--main-gray);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

b {
    position: absolute;
    top: 10px;
    left: 20px;
}

.cha {
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 7px;
    color: rgb(143, 143, 143);
}

span{
    position: absolute;
    left: 20px;
    top: 60px;

}

.date{
    position: absolute;
    left: 20px;
    top: 80px;
}

.yes{
    width: 5rem;
    height: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
    background-color: var(--main-origin);
    position: absolute;
    bottom: 20px;
    left: 105px;
    cursor: pointer;
}

.no{
    width: 5rem;
    height: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 105px;
}