:root {
  --main-origin: #ee7419;
  --main-bgc: #efefef;
  --main-select: #fdf1e6;
  --main-white: #ffffff;
  --main-gray: #f7f7f7;
}
html {
  font-size: 14px;
}
main {
  margin: 60px auto;
  padding: 0;
  position: relative;
}
.addQuestionnaire {
  width: 7.5rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  background-color: var(--main-origin);
  color: var(--main-white);
  position: relative;
  left: 82%;
  top: 2.5rem;
  cursor: pointer;
}
table {
  margin: 0 3% 0 7%;
  width: 90%;
  text-align: left;
}
table tr {
  height: 3rem;
}
table th:nth-child(1) {
  width: 25%;
}
table th:nth-child(2) {
  width: 25%;
}
table th:nth-child(3) {
  width: 10%;
}
table th:nth-child(4) {
  width: 40%;
}
table td:nth-child(4) {
  position: absolute;
}
table td:nth-child(1) {
  position: relative;
}
table td:nth-child(1) input {
  position: absolute;
  left: -20%;
  top: 35%;
}
table span {
  line-height: 1.5rem;
  height: 1.5rem;
  width: 4.5rem;
  text-align: center;
  background-color: var(--main-white);
  display: inline-block;
  position: relative;
  top: 0.75rem;
}
.fun {
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  display: inline-block;
}
.fun input {
  margin: 0 1.34rem;
  border-radius: 50%;
  border: 1px solid #999;
}
.fun .delete {
  height: 1.5rem;
  line-height: 1.5rem;
  display: inline-block;
  width: 4rem;
  text-align: center;
  margin-left: 3%;
}
