@font-face {
  font-family: "iconfont"; /* Project id 3828356 */
  src: url('iconfont.woff2?t=1671110809202') format('woff2'),
       url('iconfont.woff?t=1671110809202') format('woff'),
       url('iconfont.ttf?t=1671110809202') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontwenhao1:before {
  content: "\e60b";
}

.icon-wenhao1:before {
  content: "\e6c9";
}

.icon-wenhao:before {
  content: "\e600";
}

.icon-jiahao_o:before {
  content: "\eb78";
}

